In [1]:
print("Hello World !!!")

Hello World !!!

In [3]:
print(5)
print(type (5))

5
<class 'int'>

In [6]:
f="Soham"
l="Samanta"
print(f+" "+l)

Soham Samanta

In [8]:
name=input("Enter your name: \n")

Enter your name:
Soham Samanta

In [9]:
s="The string \n is been \n splitted over several \n small strings"
print(s)

The string
 is been
 splitted over several
 small strings

In [10]:
print(8+10/2-4*5)

-7.0

In [17]:
s="Soham Samanta"
for i in range(len(s)):
    if(i%2==0):
        print(s[i])

S
h
m
S
m
n
a

In [18]:
s="Soham Samanta"
for i in range(0,len(s),2):
    print(s[i])

S
h
m
S
m
n
a

In [43]:
n = 10
i = 1
s = 0
while (i <= n):
    s = s + i
    i = i + 1
print("The sum is:",s)

The sum is: 55

In [30]:
#Print the sum of 1st n natural no. using for and while loop
n=10
s=0
for i in range(n+1):
    s+=i
print(s)

55

In [40]:
#range(start,stop,step-size)
for i in range(6,15,2):
    print(i)

6
8
10
12
14

In [45]:
for i in range(10,100,20):
    print("s"+i+" - ")

TypeError: can only concatenate str (not "int") to str

In [49]:
for i in range(5):
    print()
    for j in range(5):
        print("* ",end="")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [55]:
n=5
for x in range(5):
    print()
    for i in range(1,n+1,1):
        print(i,end="")
        i+=1

12345
12345
12345
12345
12345

In [61]:
x=1
for i in range(6):
    print()
    for j in range(6):
        print(x,end="")

111111
111111
111111
111111
111111
111111

In [62]:
 for i in range(5+1):  
    for j in range(i):  
        print(i, end="")
    print(" ")

1
22
333
4444
55555

In [63]:
for i in range(5):   
        for j in range(0, i + 1):  
            print("* ", end="")       
        print()

*
* *
* * *
* * * *
* * * * *

In [65]:
for i in range(5+1):  
    for j in range(1, i + 1):  
        print(j, end=' ')  
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [67]:
for i in range(0, 5 + 1):   
    for j in range(5 - i, 0, -1):  
        print(j, end=' ')  
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1