In [2]:
#Name: Soham Samanta || Roll no:20051107

newlist=["apple","orange","banana"]
print(newlist)

['apple', 'orange', 'banana']

In [4]:
list1=["man",45,True,56,"male"]
print(list1)
print(len(list1))

['man', 45, True, 56, 'male']
5

In [7]:
fruit=(("apple","orange","banana"))
print(fruit)

('apple', 'orange', 'banana')

In [13]:
fruit=["apple","orange","banana"]
print(fruit[0])
print(fruit[1])
print(fruit[2])
print(fruit[-1])
print(fruit[-2])
print(fruit[-3])

apple
orange
banana
banana
orange
apple

In [14]:
list=["mango","apple","banana","orange","kiwi","melon","cherry"]

if "melon" in list:
    print("melon is present")
else:
    print("melon is not present")
    
if "avacardo" in list:
    print("avacardo is present")
else:
    print("avacardo is not present")

melon is present
avacardo is not present

In [15]:
list1=["apple","orange","banana"]
list1[1]="kiwi"
print(list1)

['apple', 'kiwi', 'banana']

In [22]:
list2=["apple","orange","banana","tomato","cherry","kiwi","melon"]
list2[1:3]=["brinjal","cauliflower"]
print(list2)

['apple', 'brinjal', 'cauliflower', 'banana', 'tomato', 'cherry', 'kiwi', 'melon']

In [53]:
list2=["apple","orange","banana","tomato","cherry","kiwi","melon"]
print(list2[2:6])

['banana', 'tomato', 'cherry', 'kiwi']

In [30]:
list=["apple","mango","orange"]
list[1:2]=["aaa","bbb"]
print(list)

['apple', 'aaa', 'bbb', 'orange']

In [29]:
list2=["apple","orange","banana","tomato","cherry","kiwi","melon"]
print(list2[2:])

['banana', 'tomato', 'cherry', 'kiwi', 'melon']

In [28]:
#insert element
list=["apple","orange","banana"]
list.insert(2,"berry")
print(list)

['apple', 'orange', 'berry', 'banana']

In [31]:
list=["apple","mango","banana"]
list[1]="berry"
print(list)

['apple', 'berry', 'banana']

In [32]:
list=["apple","mango","banana"]
list.append("cherry")
print(list)

['apple', 'mango', 'banana', 'cherry']

In [37]:
list1=["apple","kiwi","banana"]
list2=["mango","cherry","abcdef"]
list1.extend(list2)
print(list1)

['apple', 'kiwi', 'banana', 'mango', 'cherry', 'abcdef']

In [38]:
list1=["apple","mango","orange"]
list1.remove("orange")
print(list1)

['apple', 'mango']

In [39]:
list1=["apple","mango","banana"]
list1.pop(1)
print(list1)

['apple', 'banana']

In [42]:
list1=["apple","mango","banana"]
list1.pop()
print(list1)

['apple', 'mango']

In [41]:
list1=["apple","mango","banana"]
list1.clear()
print(list1)

[]

In [43]:
list1=["apple","banana","orange"]
for x in list1:
    print(x)

apple
banana
orange

In [45]:
list1=["apple","banana","orange"]
for i in range(len(list1)):
    print(list1[i])

apple
banana
orange

In [46]:
list=["apple","orange","banana"]
i=0
while i<len(list):
    print(list[i])
    i=i+1

apple
orange
banana

In [49]:
list=["apple","orange","banana"]
[print(x) for x in list1]

apple
banana
orange

[None, None, None]

In [50]:
list=["apple","orange","banana"]
list.reverse()
print(list)

['banana', 'orange', 'apple']

In [52]:
list1=["apple","orange","banana"]
list2=["mango","kiwi","banana"]
list3=list1+list2
list4=list2+list1
print(list3)
print(list4)

['apple', 'orange', 'banana', 'mango', 'kiwi', 'banana']
['mango', 'kiwi', 'banana', 'apple', 'orange', 'banana']

In [54]:
list2=["apple","orange","banana","tomato","cherry","kiwi","melon"]
print(list2[-4:-1])

['tomato', 'cherry', 'kiwi']

In [55]:
list2=["apple","orange","banana","tomato","cherry","kiwi","melon"]
del list2[1]
print(list2)

['apple', 'banana', 'tomato', 'cherry', 'kiwi', 'melon']

In [57]:
#Create a list of subjects in your semester and display each subject on a different line.

subjects=["Tools and Technology Lab","Compiler Design","Internet Of Things","Software Project Management","Data Analytics","Cloud Computing"]
i=0
for i in range(len(subjects)):
    print(subjects[i])

Tools and Technology Lab
Compiler Design
Internet Of Things
Software Project Management
Data Analytics
Cloud Computing

In [59]:
# Display name of subjects in reverse order
subjects.reverse()
print(subjects)

['Cloud Computing', 'Data Analytics', 'Software Project Management', 'Internet Of Things', 'Compiler Design', 'Tools and Technology Lab']

In [62]:
#Create a list of marks of all the above subjects and display the total and average marks
marks=[87,67,91,85,71,83]
sum=0
average=0
for i in range(len(marks)):
    sum=sum+marks[i]
average=sum/6
print(sum)
print(average)

484
80.66666666666667

In [63]:
#Display the marks in sorted order
marks.sort()
print(marks)

[67, 71, 83, 85, 87, 91]

In [66]:
#Display highest and lowest marks
print("highest marks = ",marks[len(marks)-1])
print("lowest marks = ",marks[0])

highest marks =  91
lowest marks =  67

In [67]:
#Display marks of 2nd last and 3rd last subject marks
print("second last = ",marks[-2])
print("third last = ",marks[-3])

second last =  87
third last =  85

In [69]:
#Remove the 1st element from the list and display
del marks[1]
print(marks)

[67, 83, 85, 87, 91]

In [70]:
#Enter the position and add new element at the position of a list.
marks.insert(2,100)
print(marks)

[67, 83, 100, 85, 87, 91]

In [71]:
#Count the no of elements in the list
print(len(marks))

6

In [72]:
#Remove the element from the specified position of a list
pos=4
del marks[pos]
print(marks)

[67, 83, 100, 85, 91]

In [81]:
#Create a list of strings and display string of longest length.
list=["aa","bbbccd","abcdefghi","d","cc"]
max = -1
for i in list:
    if len(i) > max:
        max = len(i)
        res = i
  
# printing result
print("Maximum length string is : " + res)

Maximum length string is : abcdefghi

In [88]:
#Create a list of numbers and display square of each element
marks=[87,67,92,85,71,83]
for i in range(len(marks)):
    sq=marks[i]*marks[i]
    print(sq)

7569
4489
8464
7225
5041
6889

In [89]:
#Check & display each element of the list is even or odd
for i in range(len(marks)):
    if((marks[i]%2)==0):
        print("even")
    else:
        print("odd")

odd
odd
even
odd
odd
odd

In [93]:
#Display even sum & odd sum values respectively
marks=[87,67,92,85,71,82]
esum=0
osum=0
for i in range(len(marks)):
    if((marks[i]%2)==0):
        esum=esum+marks[i]
    else:
        osum=osum+marks[i]
print("even sum = ",esum,"odd sum = ",osum)

even sum =  174 odd sum =  310

In [105]:
#Display nearer largest & nearer smallest element for a given element.
x=input("Enter a number")
x=int(x)
print(x+1)
print(x-1)

Enter a number20
21
19

In [95]:
#Merge two different list and display as a single list
list1=["apple","orange","banana"]
list2=["mango","kiwi","banana"]
list3=list1+list2
print(list3)

['apple', 'orange', 'banana', 'mango', 'kiwi', 'banana']

In [97]:
#Insert a new element at the beginning and end of a list
marks=[87,67,92,85,71,82]
marks.insert(0,11)
marks.insert(len(marks),100)
print(marks)

[11, 87, 67, 92, 85, 71, 82, 100]

In [100]:
#Swap the 1st and last elements of a list
marks=[87,67,92,85,71,82]
temp=marks[0]
marks[0]=marks[len(marks)-1]
marks[len(marks)-1]=temp
print(marks)

[82, 67, 92, 85, 71, 87]

In [101]:
#Search a given element in the list is found or not
list=["mango","apple","banana","orange","kiwi","melon","cherry"]

if "melon" in list:
    print("melon is present")
else:
    print("melon is not present")

melon is present

In [104]:
#Remove all the each and every element from the list and also display the removed elements
marks=[87,67,92,85,71,82]
print("Removed elements")
for i in range(len(marks)):
    print(marks[i])
marks.clear()
print("marks array = ",marks)

Removed elements
87
67
92
85
71
82
marks array =  []