In [8]:
# SOHAM SAMANTA | Roll : 20051107

#1
tup = 4,7,2
print(tup)
n1, n2, n3 = tup
print(n1 + n2 + n3)

(4, 7, 2)
13

In [12]:
#2
tup = (2,4,6,8) 
print(tup)
tup = tup + (9,)
print(tup)
tup = tup[:5] + (15, 20, 25) + tup[:5]
print(tup)
listx = list(tup) 
listx.append(30)
tup = tuple(listx)
print(tup)

(2, 4, 6, 8)
(2, 4, 6, 8, 9)
(2, 4, 6, 8, 9, 15, 20, 25, 2, 4, 6, 8, 9)
(2, 4, 6, 8, 9, 15, 20, 25, 2, 4, 6, 8, 9, 30)

In [14]:
#3
def convertTuple(tup):
    str = ''
    for item in tup:
        str = str + item
    return str
 
tuple = ('s', 'o', 'h', 'a', 'm')
str = convertTuple(tuple)
print(str)

soham

In [18]:
#4
x = (2,4,5,2,4,5,7,2) 
print(x)  
count = x.count(2)  
print("Occurences =",count)

(2, 4, 5, 2, 4, 5, 7, 2)
Occurences =  3

In [30]:
#5
tup = "s", 5, "o", "h", "a", "m"
print(tup)
listx = list(tup) 
listx.remove("a") 
print(listx)

('s', 5, 'o', 'h', 'a', 'm')
['s', 5, 'o', 'h', 'm']

In [31]:
#6
val = ('s','o','h','a','m')  
print(val)  
index = val.index('a') 
print("Index of a is: ",index)

('s', 'o', 'h', 'a', 'm')
Index of a is:  3

In [4]:
#7
tup = (5, 20, 3, 7, 6, 8)
print("The original tuple is : " + str(tup))
K = 2
tup = list(tup)
temp = sorted(tup)
res = tuple(temp[:K] + temp[-K:])
print("The extracted values : " + str(res))

The original tuple is : (5, 20, 3, 7, 6, 8)
The extracted values : (3, 5, 8, 20)

In [45]:
#8
tup = (1,2,3,4,5,6)
print(tup)

l_element = len(tup)-1
tup = tup[:l_element]

print(tup)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)

In [54]:
#9
def rev(tuples):
    new_tup = tuples[::-1]
    return new_tup
     
tuples = ('s','o','h','a','m')
print(rev(tuples))

('m', 'a', 'h', 'o', 's')

In [1]:
#10
lis=[1,2,3,4]
print(type(lis))
tup=tuple(lis)
print(type(tup))

<class 'list'>
<class 'tuple'>

In [2]:
#11
mydict={
    "brand":"Maruti",
    "model":"Swift",
    "year":2020,
    "electric":False,
    "color":["red","white","blue"]
}
l1=list(mydict.keys())
print(l1)

['brand', 'model', 'year', 'electric', 'color']

In [3]:
#12
l2=list(mydict.values())
print(l2)

['Maruti', 'Swift', 2020, False, ['red', 'white', 'blue']]

In [5]:
#13
dict1={
    "a":10,
    "b":11,
}
dict2={
    "c":12,
    "d":13,
}
dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 11, 'c': 12, 'd': 13}

In [9]:
#14
dict1={
    "a":10,
    "b":11,
}
dict1['e']=dict1['a']
del dict1['a']
print(dict1)

{'b': 11, 'e': 10}

In [10]:
#15
for x,y in dict1.items():
    print(x,y)

b 11
e 10

In [11]:
#16
del dict1['c']
print(dict1)

KeyError: 'c'

In [12]:
#17
marks={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}
v = marks.values()
maxi = max(v)
mini = min(v)
 
print("Maximum :",maxi)
print("Minimum :",mini)

Maximum : 89
Minimum : 35

In [1]:
#18
d={'A':1,'B':2,'C':3}
key=input("Enter key to check:")
if key in d.keys():
      print("Key is present and value of the key is:")
      print(d[key])
else:
      print("Key isn't present!")

Enter key to check:2
Key isn't present!

In [2]:
#19
d={'D':1,'B':2,'C':3,'A':5}
key=list(d.keys())
key.sort()
sorted_dict = {i: d[i] for i in key}
print(sorted_dict)

{'A': 5, 'B': 2, 'C': 3, 'D': 1}

In [3]:
#20
sum=0
for x,y in d.items():
    sum=sum+y
print(sum)

11