In [1]:
# SOHAM SAMANTA | 20051107 | TT-Lab4 Assignment
#Q1
import numpy as np
arr=np.array([1,2,3])
print('no of elements = ',len(arr))
print('length of one array element(in bytes) = ',arr.itemsize)
print('length of array element(in bytes) = ',arr.size*arr.itemsize)

no of elements =  3
length of one array element(in bytes) =  8
length of array element(in bytes) =  24

In [2]:
#Q2
Y=np.array([1,2,3])
X=arr=np.array([1,2,3,4])
print(np.isin(Y, X))

[ True  True  True]

In [3]:
#Q3
import numpy as np
ar1 = np.array([11, 1, 2, 3, 4])
ar2 = [1, 3, 4]
print(np.intersect1d(ar1, ar2))

[1 3 4]

In [5]:
#Q4
import numpy as np
array = np.array([4.1, 2.3, 6.5, 3.1, 9.7])
print(f'Before changing {array.dtype}')
array = array.astype(np.int32)
print(f'\nAfter changing {array.dtype}')

Before changing float64

After changing int32

In [6]:
#Q5
import numpy as np
x = np.eye(3)
print(x)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [7]:
#Q6
import numpy as np
x = np.arange(4)
print("One dimensional array:")
print(x)
y = np.arange(8).reshape(2,4)
print("Two dimensional array:")
print(y)
for a, b in np.nditer([x,y]):
    print("%d:%d" % (a,b),)

One dimensional array:
[0 1 2 3]
Two dimensional array:
[[0 1 2 3]
 [4 5 6 7]]
0:0
1:1
2:2
3:3
0:4
1:5
2:6
3:7

In [8]:
#Q7
import numpy as np
x = np.zeros((3,), dtype=('i4,f4,a40'))
new_data = [(1, 2., "Albert Einstein"), (2, 2., "Edmond Halley"), (3, 3., "Gertrude B. Elion")]
x[:] = new_data
print(x)

[(1, 2., b'Albert Einstein') (2, 2., b'Edmond Halley')
 (3, 3., b'Gertrude B. Elion')]

In [9]:
#Q8
import numpy as np
float_array = np.array([3.11, 9.67, 55.1, 6.6, 7.81, 7.12])
print(float_array)
print(float_array.dtype)
rounded_down_integer_array = float_array.astype(int)
print(rounded_down_integer_array)
print(rounded_down_integer_array.dtype)

[ 3.11  9.67 55.1   6.6   7.81  7.12]
float64
[ 3  9 55  6  7  7]
int64

In [10]:
#Q9
x=np.array([1,2,0,5,2])
print(np.count_nonzero(x == 2))

2

In [11]:
#Q10
import numpy as np
array_nums = np.arange(20).reshape(4,5)
print("Original array:")
print(array_nums)
print("\nAfter swapping column1 with column4:")
array_nums[:,[0,3]] = array_nums[:,[3,0]]
print(array_nums)

Original array:
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]

After swapping column1 with column4:
[[ 3  1  2  0  4]
 [ 8  6  7  5  9]
 [13 11 12 10 14]
 [18 16 17 15 19]]

In [12]:
#Q11
import numpy as np
nums = np.random.randint(0,4,(6,3))
print("Original vector:")
print(nums)
new_nums = np.logical_and.reduce(nums[:,1:] == nums[:,:-1], axis=1)
result = nums[~new_nums]
print("\nRows with unequal values:")
print(result)

Original vector:
[[1 2 1]
 [3 1 3]
 [0 2 2]
 [0 1 3]
 [3 2 1]
 [0 1 0]]

Rows with unequal values:
[[1 2 1]
 [3 1 3]
 [0 2 2]
 [0 1 3]
 [3 2 1]
 [0 1 0]]

In [13]:
#PART _2
#Q1
import numpy as np
empt = np.empty((3, 4), dtype=int)
print("Empty Array")
print(empt)
full = np.full([3, 3], 13, dtype=int)
print("\n Full Array")
print(full)

Empty Array
[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

 Full Array
[[13 13 13]
 [13 13 13]
 [13 13 13]]

In [14]:
#Q2
import numpy as np
arr = np.zeros([3, 3], dtype = int)
print("\nMatrix : \n", arr)

Matrix :
 [[0 0 0]
 [0 0 0]
 [0 0 0]]

In [15]:
#Q3
import numpy as np
arr = np.ones([3, 3], dtype = int)
print("\nMatrix b : \n", arr)

Matrix b :
 [[1 1 1]
 [1 1 1]
 [1 1 1]]

In [16]:
#Q4
import numpy
arr = numpy.array([[1, 2, 3, 4, 5],
[6, 7, 8, 9, 10],[11, 12, 13, 14, 15],[16, 17, 18, 19, 20]])
print(arr)
print([1, 2, 3, 4, 5] in arr.tolist())
print([16, 17, 20, 19, 18] in arr.tolist())
print([3, 2, 5, -4, 5] in arr.tolist())
print([11, 12, 13, 14, 15] in arr.tolist())

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]
True
False
False
True

In [17]:
#Q5
import numpy as np
n_arr = np.array([[10.5, 22.5, 3.8],
[41, np.nan, np.nan]])
print("Given array:")
print(n_arr)
print("\nRemove all rows containing non-numeric elements")
print(n_arr[~np.isnan(n_arr).any(axis=1)])

Given array:
[[10.5 22.5  3.8]
 [41.   nan  nan]]

Remove all rows containing non-numeric elements
[[10.5 22.5  3.8]]

In [18]:
#Q6
import numpy as np
ini_array = np.array([1, 2, 5, 3, 2, 5])
res = np.flip(ini_array)
print("final array", str(res))

final array [5 2 3 5 2 1]

In [19]:
#Q7
import numpy as np
x = np.array([1,2,3,4,5,11,21,8,9,3])
print("Original array:")
print(x)
print("Most frequent value in the above array:")
print(np.bincount(x).argmax())

Original array:
[ 1  2  3  4  5 11 21  8  9  3]
Most frequent value in the above array:
3

In [20]:
#Q8
import numpy as np
print(np.info(np.add))

add(x1, x2, /, out=None, *, where=True, casting='same_kind', order='K', dtype=None, subok=True[, signature, extobj])

Add arguments element-wise.

Parameters
----------
x1, x2 : array_like
    The arrays to be added.
    If ``x1.shape != x2.shape``, they must be broadcastable to a common
    shape (which becomes the shape of the output).
out : ndarray, None, or tuple of ndarray and None, optional
    A location into which the result is stored. If provided, it must have
    a shape that the inputs broadcast to. If not provided or None,
    a freshly-allocated array is returned. A tuple (possible only as a
    keyword argument) must have length equal to the number of outputs.
where : array_like, optional
    This condition is broadcast over the input. At locations where the
    condition is True, the `out` array will be set to the ufunc result.
    Elsewhere, the `out` array will retain its original value.
    Note that if an uninitialized `out` array is created via the default
    ``out=None``, locations within it where the condition is False will
    remain uninitialized.
**kwargs
    For other keyword-only arguments, see the
    :ref:`ufunc docs <ufuncs.kwargs>`.

Returns
-------
add : ndarray or scalar
    The sum of `x1` and `x2`, element-wise.
    This is a scalar if both `x1` and `x2` are scalars.

Notes
-----
Equivalent to `x1` + `x2` in terms of array broadcasting.

Examples
--------
>>> np.add(1.0, 4.0)
5.0
>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> np.add(x1, x2)
array([[  0.,   2.,   4.],
       [  3.,   5.,   7.],
       [  6.,   8.,  10.]])

The ``+`` operator can be used as a shorthand for ``np.add`` on ndarrays.

>>> x1 = np.arange(9.0).reshape((3, 3))
>>> x2 = np.arange(3.0)
>>> x1 + x2
array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])
None

In [21]:
#Q9
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)
array=np.ones(10)
print("An array of 10 ones:")
print(array)
array=np.ones(5)*5
print("An array of 10 fives:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
An array of 10 ones:
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
An array of 10 fives:
[5. 5. 5. 5. 5.]

In [22]:
#Q10
import numpy as np
array=np.arange(30,71)
print("Array of the integers from 30 to70")
print(array)

Array of the integers from 30 to70
[30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70]

In [23]:
#Q11
import numpy as np
array=np.arange(30,71,2)
print("Array of all the even integers from 30 to 70")
print(array)

Array of all the even integers from 30 to 70
[30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70]

In [24]:
#Q12
import numpy as np
array_2D=np.identity(3)
print('3x3 matrix:')
print(array_2D)

3x3 matrix:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [25]:
#Q13
import numpy as np
nums = np.array([[[2, 3, 5, 11],
               [1, 3, 4, 9],
               [10, 11, 12, 14],
               [5, 0, 3, 2]]])
print("Original array:")
print(nums)
print("\nSwap rows and columns of the said array in reverse order:")
new_nums = print(nums[::-1, ::-1])
print(new_nums)

Original array:
[[[ 2  3  5 11]
  [ 1  3  4  9]
  [10 11 12 14]
  [ 5  0  3  2]]]

Swap rows and columns of the said array in reverse order:
[[[ 5  0  3  2]
  [10 11 12 14]
  [ 1  3  4  9]
  [ 2  3  5 11]]]
None

In [26]:
#Q14
import numpy as np 
nums1 = np.array([[2, 5, 2],
              [1, 5, 5]])
nums2 = np.array([[5, 3, 4],
              [3, 2, 5]])
print("Array1:") 
print(nums1)
print("Array2:") 
print(nums2)
print("\nMultiply said arrays of same size element-by-element:")
print(np.multiply(nums1, nums2))

Array1:
[[2 5 2]
 [1 5 5]]
Array2:
[[5 3 4]
 [3 2 5]]

Multiply said arrays of same size element-by-element:
[[10 15  8]
 [ 3 10 25]]

In [27]:
#Q15
import numpy as np  
nums = np.array([[5.54, 3.38, 7.99],
              [3.54, 4.38, 6.99],
              [1.54, 2.39, 9.29]])
print("Original array:")
print(nums)
n = 5
print("\nElements of the said array greater than",n)
print(nums[nums > n])
n = 6
print("\nElements of the said array less than",n)
print(nums[nums < n])

Original array:
[[5.54 3.38 7.99]
 [3.54 4.38 6.99]
 [1.54 2.39 9.29]]

Elements of the said array greater than 5
[5.54 7.99 6.99 9.29]

Elements of the said array less than 6
[5.54 3.38 3.54 4.38 1.54 2.39]

In [28]:
#Q16
import numpy as np
arr = np.array([33, 12, 10, 21])
print(np.sort(arr))

[10 12 21 33]